PROGRAM=send

LOG_PATH=/home/nbz

# enum {info, debug, warn, error}
LOG_FILE_LEVEL=debug
LOG_TERMINAL_LEVEL=debug

# 0.0.0.0:19999
# 127.0.0.1:19999
ADDRESS=127.0.0.1:19999

# in seconds
TIMER=1

# in seconds
TIMEOUT=5
